<% unless @auth_url.nil? %>
	<%= link_to 'flickr', @auth_url %>
<% end %>
<% unless @photosets.nil? %>
	<ul>
	<% @photosets.each do |p| %>
		<li>
			<%= link_to p.title, "/gallery/#{p.id}" %>
			<%= "(#{p.description})" %>
			<%= "vom #{(Time.at(p.date_create.to_i)).strftime('%d.%m.%y, %H:%M Uhr')}" %>
		</li>
	<% end %>
	</ul>
<% end %>
