/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#credits_dialog, #license_dialog {
  display: none;
}

a:hover {
  text-decoration: none !important;
}

button > span.ui-button-text {
    padding: .2em .4em !important;
    font-size: .8em;
}

[contenteditable]:hover:not(:focus) {
  outline: 1px dotted #ccc;
}

#toast {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  padding: 10px;
  z-index: 10000000;
  
  font-weight: bold;
  text-align: center;
  
  border: 1px solid #666;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  background-color: #EFEFEF;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    color: #999;
    border: 1px solid #CCC;
    padding: 4px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    color: #000;
    border: 1px solid #009900;
    box-shadow: 0px 0px 4px #008800;
}

#login_layer input, #signup_layer input {
  max-width: 250px;
}

label {
  display: block;
  font-weight: bold;
}

div#top_bar {
  position: fixed;
  height: 40px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  
  background-color: #007700;
  background-image: linear-gradient(bottom, rgba(0,0,0,0.2) 30%, rgba(255,255,255,0.2) 70%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.2) 30%, rgba(255,255,255,0.2) 70%);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.2) 30%, rgba(255,255,255,0.2) 70%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.2) 30%, rgba(255,255,255,0.2) 70%);
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.2) 30%, rgba(255,255,255,0.2) 70%);
  
  color: #FFF;
}

div#top_bar a {
  color: #FFF;
}
div#top_bar a:hover {
  text-shadow: #000 0px 0px 6px !important;
}

div#logo {
  margin-left: 10px;
  height: 40px;
  width: 260px;
}

div#spacer {
  float: right;
  width: 20px;
  height: 40px;
}

div#top_notifications {
  cursor: pointer;
  float: right;
  z-index: 3;
  line-height: 40px;
  font-weight: bold;
  padding: 0px 10px;
}


div#login_layer a{
  color: #000000;
}

div#login_layer, div#signup_layer, div#show_credits, div#show_license {
  float: right;
  line-height: 40px;
  margin-right: 20px;
}

div#login_layer > b, div#signup_layer > b, div#user_menu > b, div#show_credits > b, div#show_license > b {
  display: block;
  padding: 0px 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  z-index: 3;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

div#login_layer > b:hover, div#signup_layer > b:hover, div#user_menu > b:hover, div#show_credits > b:hover, div#show_license > b:hover {
  text-shadow: #000 0px 0px 6px !important;
}

div#login_layer > div, div#signup_layer > div {
  display: none;
  
  position: absolute;
  width: 250px;
  top: 39px;
  right: 0;
  z-index: 1;
  padding: 10px;
  
  color: #000;
  line-height: 150%;
  background-color: #FFF;
  border: 1px solid #666;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 10px #000;
}

div#login_layer > input, div#signup_layer > input {
  width: 100%;
}

div#logout {
  float: right;
  line-height: 40px;
  font-weight: bold;
  margin-right: 20px;
  padding: 0px 10px;
}

div#tree_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0px 0px -150px;
}

div#user_menu {
  z-index: 3;
  float: right;
  margin-right: 20px;
  line-height: 40px;
  font-weight: bold;
}


div#user_menu_layer, div#notification_menu_layer {
  display: none;
  
  position: absolute;
  width: 250px;
  top: 39px;
  right: 0;
  z-index: 1;
  padding: 10px 0px;
  
  color: #000;
  line-height: 150%;
  background-color: #FFF;
  border: 1px solid #666;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 10px #000;
}

div#user_menu_layer a, div#notification_menu_layer a {
  color: #000;
}

div#user_menu_layer ul, div#notification_menu_layer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div#user_menu_layer ul > li, div#notification_menu_layer ul > li {
  margin: 0px;
  padding: 0px;
}

div#user_menu_layer ul > li > a, div#notification_menu_layer ul > li > a {
  display: block;
  margin: 0px;
  padding: 5px;
  cursor: pointer;
}

div#user_menu_layer ul > li > a:hover, , div#notification_menu_layer ul > li > a:hover {
  background-color: #EEE;
  text-shadow: none !important;
}

div#main {
  position: absolute;
  top: 39px;
  left: 50%;
  margin-left: -530px;
  z-index: 1;
  width: 1060px;
}

div#navigation {
  float: left;
  width: 200px;
  padding: 24px 10px;
  margin: 0px;
}

div#navigation ul {
  margin: 20px 0px;
  padding: 0px;
  list-style-type: none;
}

div#navigation ul a {
  font-weight: bold;
  display: block;
  line-height: 25px;
  padding: 5px;
  cursor: pointer;
  vertical-align: middle;
}

div#navigation ul a img {
  vertical-align: middle;
}

div#navigation ul a:hover {
  background-color: #EEEEEE;
}

.active {
  background-color: #DDDDDD;
}

.shy {
  color: #999;
}

.avatar {
  margin-right: 10px;
  margin-top: 10px;
  float: left;
}

.its_me {
  line-height: 64px;
  vertical-align: middle;
  cursor: pointer;
}

#sidebar {
  float: right;
  width: 200px;
  padding: 24px 10px;
  margin: 0px;
}

#content {
  width: 600px;
  margin: 0px 0px 0px 220px;
  padding: 24px 10px;
  border: 1px solid #DDDDDD;
}

#content > div {
  display: none;
}

#actions {
  display: none;
  float: right;
}
#actions span {
  padding: 4px;
  margin-left: 10px;
  border: 1px solid rgba(0,0,0,0);
}
#actions span:hover {
  cursor: pointer;
  border: 1px solid #999;
  background: #EFEFEF;
}
#tree_users_list .user {
  vertical-align: middle;
}
#tree_users_list .user:hover {
  cursor: pointer;
  background-color: #EFEFEF;
}
#tree_users_list .user img {
  vertical-align: middle;
}



/** SUCHE **/

.friendresult {
  max-height: 400px;
  margin-top: 10px;
  /*overflow-y: auto;*/
}
.friendresult .user {
  padding: 4px;
  line-height: 25px;
  vertical-align: middle;
  cursor: pointer;
}
.friendresult .user:hover {
  background: #F4F4F4;
}
.friendresult .user img {
  vertical-align: middle;
  margin-right: 4px;
}


/** Hilfs-Klassen **/

.invalidInput {
  border: 1px solid red !important;
}