/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

a:hover {
  text-decoration: none !important;
}

button > span.ui-button-text {
    padding: .2em .4em !important;
    font-size: .8em;
}

[contenteditable]:hover:not(:focus) {
  outline: 1px dotted #ccc;
}

#toast {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  padding: 10px;
  z-index: 10000000;
  
  font-weight: bold;
  text-align: center;
  
  border: 1px solid #666;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  background-color: #EFEFEF;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    color: #999;
    border: 1px solid #CCC;
    padding: 4px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    color: #000;
    border: 1px solid #009900;
    box-shadow: 0px 0px 4px #008800;
}