// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/** PROFILE **/

#Profil {
  position: relative;
}

#Profil > h3 {
  position: relative;
  margin-left: 80px;
  margin-top: 10px;
}

/* Profil-Informationen */

.profile_about {
  margin-top: 10px;
  font-size: 0.9em;
}

.profile_about label {
  display: block;
  font-weight: bold;
}
.profile_about input, .profile_about select, .profile_about textarea {
  display: block;
  font-size: 1em;
}

.profile_actions {
  float: right;
}

.profile_message {
  font-size: 13px;
}

.profile_info textarea {
  width: 50%;
}

/* Fotos */

.profile_image {
  position: relative;
  margin-top: -55px;
  margin-bottom: 5px;
}

.editGravatar {
  background-color: #CCC;
  position: absolute;
  text-align: center;
  width: 15px;
  height: 15px;
  line-height: 15px;
  cursor: pointer;
  opacity: 0.5;
  z-index: 6;
  border-radius: 4px;
}
.editGravatar:hover {
  opacity: 1;
}

.profile_menu {
  position: relative;
  margin: 0px -10px;
  padding-left: 10px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background: #F4F4F4;
}
.profile_menu ul {
  display: block;
  position: relative;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 30px;
}
.profile_menu ul li {
  float: left;
  padding: 5px;
  line-height: 20px;
  cursor: pointer;
  color: #666;
}
.profile_menu ul li:hover {
  color: #000;
}
.profile_menu_active {
  font-weight: bold;
  color: #000;
}

.profile_posts,
.profile_about,
.profile_photos {
  display: none;
  position: relative;
}

.profile_photos {
  margin-top: 5px;
}

.profile_photos .photos_loading {
  display: block;
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.profile_photoset {
  position: relative;
  width: 150px;
  height: 150px;
  float: left;
  margin: 5px;
  vertical-align: middle;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-color: #999 !important;
  cursor: pointer;
  border: 1px solid #999;
  box-shadow: 0px 0px 5px #999;
  
  transition: 0.4s all;
  -moz-transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.profile_photoset:hover {
  box-shadow: 0px 0px 8px #333;
}
.profile_photoset > .title {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
}

.profile_photos .add_photoset {
  position: relative;
  width: 150px;
  height: 150px;
  float: left;
  margin: 5px;
  vertical-align: middle;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  cursor: pointer;
  border: 1px solid #999;
  box-shadow: 0px 0px 5px #999;
  font-size: 75px;
  line-height: 150px;
  text-align: center;
  
  transition: 0.4s all;
  -moz-transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.profile_photos .add_photoset:hover {
  box-shadow: 0px 0px 8px #333;
}

.profile_photoset .thumbs {
  display: none;
}
.profile_photoset .photo_thumb {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  float: left;
  margin: 5px 9px 0px 9px;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.profile_photos .gallery {
  display: none;
}
.profile_photos .gallery button[name="back_to_photosets"] {
  float: right;
}
.profile_photos .gallery .thumbs {
  width: 75%;
}
.profile_photos .gallery .thumbs .thumb {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
  margin: 5px;
  vertical-align: middle;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-color: #999 !important;
  cursor: pointer;
  border: 1px solid #999;
  box-shadow: 0px 0px 5px #999;
  
  transition: 0.4s all;
  -moz-transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.profile_photos .gallery .thumbs .thumb:hover {
  box-shadow: 0px 0px 8px #333;
}
.profile_photos .gallery .thumbs .thumb a {
  display: none;
}
.profile_photos .gallery .thumbs .thumb .title {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
  color: #FFF;
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
}
.profile_photos .gallery .thumbs .upload_photo {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
  margin: 5px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #999;
  box-shadow: 0px 0px 5px #999;
  line-height: 100px;
  font-size: 50px;
  text-align: center;
  
  transition: 0.4s all;
  -moz-transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.profile_photos .gallery .thumbs .upload_photo:hover {
  box-shadow: 0px 0px 8px #333;
}

.profile_photos .gallery .thumbs .upload_photo .upload_photo_form {
  display: none;
}

.photo_comment:not(:last-child) {
  border-bottom: 1px solid #CCC;
}
.photo_comment {
  margin-top: 5px;
}
.photo_comment img {
  width: 32px;
  float: left;
  margin-right: 8px;
}
.photo_comment p {
  font-size: 0.9em;
}

.fancybox-comments {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  margin: 0px;
  padding: 10px;
  z-index: 2000;
  background-color: #FFF;
  box-shadow: 0px 0px 16px #666;
  overflow: auto;
}
.fancybox-comments textarea {
  display: block;
  width: 95%;
}