// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:hover {
  text-decoration: none !important;
}

div#top_bar {
  position: fixed;
  height: 40px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  
  background-color: #007700;
  background-image: linear-gradient(bottom, rgba(0,0,0,0.2) 30%, rgba(255,255,255,0.2) 70%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.2) 30%, rgba(255,255,255,0.2) 70%);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.2) 30%, rgba(255,255,255,0.2) 70%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.2) 30%, rgba(255,255,255,0.2) 70%);
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.2) 30%, rgba(255,255,255,0.2) 70%);
  
  color: #FFF;
}

div#top_bar a {
  color: #FFF;
}
div#top_bar a:hover {
  text-shadow: #000 0px 0px 6px !important;
}

div#logo {
  margin-left: 10px;
  height: 40px;
  width: 260px;
}

div#spacer {
  float: right;
  width: 20px;
  height: 40px;
}


div#login_layer a{
  color: #000000;
}

div#login_layer, div#signup_layer {
  float: right;
  line-height: 40px;
  margin-right: 20px;
}

div#login_layer > b, div#signup_layer > b, div#user_menu > b {
  display: block;
  padding: 0px 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  z-index: 3;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

div#login_layer > b:hover, div#signup_layer > b:hover, div#user_menu > b:hover {
  text-shadow: #000 0px 0px 6px !important;
}

div#login_layer > div, div#signup_layer > div {
  display: none;
  
  position: absolute;
  width: 250px;
  top: 39px;
  right: 0;
  z-index: 1;
  padding: 10px;
  
  color: #000;
  line-height: 150%;
  background-color: #FFF;
  border: 1px solid #666;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 10px #000;
}

div#login_layer > input, div#signup_layer > input {
  width: 100%;
}

div#logout {
  float: right;
  line-height: 40px;
  font-weight: bold;
  margin-right: 20px;
  padding: 0px 10px;
}

div#tree_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0px 0px -150px;
}

div#user_menu {
  z-index: 3;
  float: right;
  margin-right: 20px;
  line-height: 40px;
  font-weight: bold;
}


div#user_menu_layer {
  display: none;
  
  position: absolute;
  width: 250px;
  top: 39px;
  right: 0;
  z-index: 1;
  padding: 10px 0px;
  
  color: #000;
  line-height: 150%;
  background-color: #FFF;
  border: 1px solid #666;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 10px #000;
}

div#user_menu_layer a {
  color: #000;
}

div#user_menu_layer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div#user_menu_layer ul > li {
  margin: 0px;
  padding: 0px;
}

div#user_menu_layer ul > li > a {
  display: block;
  margin: 0px;
  padding: 5px;
  cursor: pointer;
}

div#user_menu_layer ul > li > a:hover {
  background-color: #EEE;
  text-shadow: none !important;
}

div#main {
  position: absolute;
  top: 39px;
  left: 50%;
  margin-left: -530px;
  z-index: 1;
  width: 1060px;
}

div#navigation {
  float: left;
  width: 200px;
  padding: 24px 10px;
  margin: 0px;
}

div#navigation ul {
  margin: 20px 0px;
  padding: 0px;
  list-style-type: none;
}

div#navigation ul a {
  font-weight: bold;
  display: block;
  line-height: 25px;
  padding: 5px;
  cursor: pointer;
  vertical-align: middle;
}

div#navigation ul a img {
  vertical-align: middle;
}

div#navigation ul a:hover {
  background-color: #EEEEEE;
}

.active {
  background-color: #DDDDDD;
}

.avatar {
  margin-right: 10px;
  margin-top: 10px;
  float: left;
}

.its_me {
  line-height: 64px;
  vertical-align: middle;
  cursor: pointer;
}

#sidebar {
  float: right;
  width: 200px;
  padding: 24px 10px;
  margin: 0px;
}

#content {
  width: 600px;
  margin: 0px 0px 0px 220px;
  padding: 24px 10px;
  border: 1px solid #DDDDDD;
}

#content > div {
  display: none;
}

#Startseite textarea[name="status_update"] {
  color: #999999;
}

#Startseite input[name="treetag"] {
  display: none;
}
#Startseite .status_trees {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#Startseite .status_trees li {
  margin-right: 4px;
  padding: 4px;
  border: 1px solid #EEE;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #AAA;
  float: left;
}
#Startseite input[name="send_post"] {
  float: right;
}

.post {
  padding: 5px;
}
.comment {
  padding: 5px;
  margin-left: 20px;
  margin-top: -1px;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.post:not(:last-child) {
  border-bottom: 1px solid #CCC;
}
.post_user {
  font-weight: bold;
  cursor: pointer;
}
.post_user .post_avatar img {
  vertical-align: top;
  float: left;
  margin-right: 8px;
}
.post_date {
  font-size: x-small;
}
.post_text {
  word-wrap: break-word;
}
.post_toggle {
  display: block;
  width: 120px;
  cursor: pointer;
  color: #060;
}
.post_like img, .post_dislike img {
  vertical-align: bottom;
  cursor: pointer;
}
.do_comment {
  cursor: pointer;
}
.showAllComments {
  cursor: pointer;
}
#showNewPosts {
  text-align: center;
  font-weight: bold;
  border: 1px solid #999;
  background-color: #EEE;
  cursor: pointer;
}
#showNewPosts:hover {
  text-decoration: underline;
}