<p>Hi <%= @resource.email %>!</p>

<p>Jemand hat einen Link angeforder um dein Passwort zu ändern, du kannst das durch Klicken auf folgenden Link durchführen</p>

<p><%= link_to 'Passwort aendern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Falls du das nicht angefordert hast, ignoriere diese Email bitte.</p>
<p>Dein Passwort ändert sich nicht, solange du nicht den obigen Link klickst.</p>
